body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: antiquewhite;
}

table, td, th{
    border: 2px solid black;
}

td, th{
    padding: 10px;

}

th{
    background-color: salmon;
}

td{
    background-color: lightsalmon;
}

#detheading{
    color: rgb(129, 195, 30);
}

#hiddenheading{
    color:red;
}

input{
    background: none;
}

button{
    background-color: lightblue;
}